
/*Вставка нового шрифта "Lastochka"*/
@font-face { 
	font-family: "Lastochka";
	src: url("fonts/Lastochka.ttf") format("truetype");
	font-style: normal;
	font-weight: 400;
	font-display:swap;
   }

/*Lastochka*/

.Lastochka {
	font-family: "Lastochka", "TimesNewRoman";
}

/*Вставка нового шрифта "PlayfairDisplay normal"*/
@font-face {
	font-family: "PlayfairDisplay";
	src: url("fonts/PlayfairDisplay.ttf") format("truetype");
	font-style: normal;
	font-weight: 400;
	font-display:swap; 
   }

/*PlayfairDisplay normal*/

.PlayfairDisplay {
	font-family: "PlayfairDisplay", "TimesNewRoman";
}


.container-fluid {
	width: 100vw;
	height: 100vw;
	background: url('../img/header-min.jpg') no-repeat center;
	background-size: cover;
}

.display-1 {
	font-size: calc(1.625rem + 8.5vw) !important;
    line-height: 0.8 !important;
	color: #fff;
	margin-bottom: 0.3rem !important;
	opacity: 0.9;
}

.header {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
}

.wrapper {
	padding-bottom: 5%;

}

.h4 {
	font-size: calc(1.625rem + 1.5vw) !important;
    line-height: 0.8 !important;
	color: #fff !important;
	opacity: 0.9;
	font-style: italic;	
}

.love {
	padding-bottom: 5%;
}

.data {
	font-size: calc(1.625rem + 1.5vw) !important;
}

.main {
	background: url("../img/9b84a83fa62abe5f08335ec60ccb8a76-min.jpg") no-repeat center;
	background-size: cover;
}

.section-1{
	padding: 3% 3%;
}

.container {
	margin: 0 !important;
}

.guest {
	font-size: calc(1.625rem + 5.0vw) !important;
    line-height: 0.8 !important;
	color: #000 !important;
	font-style: italic;
	margin-bottom: 4%;
}

.massage {
	font-size: calc(0rem + 2vw) !important;
    line-height: 0.8 ;
	color: #000 ;
}

.text-guest {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.h1-section2 {
	min-width: 100%;
	font-size: calc(1.0rem + 5.0vw) !important;
    line-height: 0.8 !important;
	color: #000 !important;
	margin-bottom: 0.3rem !important;
	opacity: 1;
	font-style: italic;
	text-align: center;
}

.table {
	width: 50% !important;
	margin: 0 auto;
	margin-top: 5%;
	margin-bottom: 0 !important;
	--bs-table-bg: 0 !important;
}

.table>:not(caption)>*>* {
    padding: 0 !important;
}

tbody, td, tfoot, th, thead, tr {
    border: none !important;
}

.table-img1 {
	width: 10vw !important;
}

.table-img2 {
	width: 8vw !important;
}

.table-img3 {
	width: 10vw !important;
}

th {
	width: 20% !important;
}

.position-wedding {
	width: 0% !important;
	font-size: calc( 0rem + 4.0vw) !important;
    line-height: 1.0 !important;
	color: #000 !important;
	font-weight: bold;
	vertical-align: middle;
}

.color-wedding {
	font-size: calc(0.5rem + 2vw) !important;
    line-height: 1.4;
    color: #000;
	text-align: center;
	margin: 0 !important;
	padding-top: 3%;
	font-style: italic;
	padding-bottom: 3%;
}

.col {
	padding-bottom: 5%;
}

.white {
	background: #fff no-repeat center;
	border:1px solid #000;
}

.beige {
	background: #efa864 no-repeat center;
}

.green {
	background: #47a25a no-repeat center;
}

.brown {
	background: #995300 no-repeat center;
}

.color-box {
	margin: 0 3% !important;
	justify-content: space-between !important;
	flex-wrap: nowrap !important;
}

.color-box1 {
	padding: 0 !important;
}

.flex {
	width: 20% !important;
	flex: none !important;
}

.dress-code {
	padding-bottom: 10%;
}

.carousel-img {
	padding-bottom: 3%;
}

.button-maps {
	text-align: center;
}

.btn {
    --bs-btn-padding-x: 12% !important;
    --bs-btn-padding-y: 1% !important;
	--bs-btn-bg: #fff !important;
}

.places {
	text-align: justify;
}

.welcome {
	font-size: calc(1rem + 6.0vw) !important;
	margin: 0 !important;
}

.container-xxl {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.flex-tel {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
}

.ratio>* {
	top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
}

.ratio::before {
    padding-top: 50% !important;
}

.welcome-1 {
	padding: 0 !important;
}