
/*Вставка нового шрифта "Lastochka"*/
@font-face { 
	font-family: "Lastochka";
	src: url("fonts/Lastochka.ttf") format("truetype");
	font-style: normal;
	font-weight: 400;
	font-display:swap;
   }

/*Lastochka*/

.Lastochka {
	font-family: "Lastochka", "TimesNewRoman";
}

/*Вставка нового шрифта "PlayfairDisplay normal"*/
@font-face {
	font-family: "PlayfairDisplay";
	src: url("fonts/PlayfairDisplay.ttf") format("truetype");
	font-style: normal;
	font-weight: 400;
	font-display:swap; 
   }

/*PlayfairDisplay normal*/

.PlayfairDisplay {
	font-family: "PlayfairDisplay", "TimesNewRoman";
}


.container-fluid {
	width: 100vw;
	height: 100vw;
	background: url('../img/header.jpg') no-repeat center;
	background-size: cover;
}

.display-1 {
	font-size: calc(1.625rem + 8.5vw) !important;
    line-height: 0.8 !important;
	color: #fff;
	margin-bottom: 0.3rem !important;
	opacity: 0.9;
}

.header {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
}

.wrapper {
	padding-bottom: 5%;

}

.h4 {
	font-size: calc(1.625rem + 1.5vw) !important;
    line-height: 0.8 !important;
	color: #fff !important;
	opacity: 0.9;
	font-style: italic;	
}

.love {
	padding-bottom: 5%;
}

.data {
	font-size: calc(1.625rem + 1.5vw) !important;
}

.section-1{
	padding: 3% 3%;
}

.container {
	margin: 0 !important;
}

.guest {
	font-size: calc(1.625rem + 5.0vw) !important;
    line-height: 0.8 !important;
	color: #000 !important;
	font-style: italic;
	margin-bottom: 4%;
}

.massage {
	font-size: calc(0rem + 2vw) !important;
    line-height: 0.8 ;
	color: #000 ;
}

.text-guest {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.h1-section2 {
	min-width: 100%;
	font-size: calc(1.0rem + 5.0vw) !important;
    line-height: 0.8 !important;
	color: #000 !important;
	margin-bottom: 0.3rem !important;
	opacity: 1;
	font-style: italic;
	text-align: center;
}

.table {
	width: 50% !important;
	margin: 0 auto;
	margin-top: 5%;
	margin-bottom: 0 !important;
}

tbody, td, tfoot, th, thead, tr {
    border: none !important;
}

.table-img1 {
	width: 10vw !important;
}

.table-img2 {
	width: 8vw !important;
}

.table-img3 {
	width: 10vw !important;
}

th {
	width: 20% !important;
}

.position-wedding {
	width: 0% !important;
	font-size: calc( 0rem + 4.0vw) !important;
    line-height: 1.0 !important;
	color: #000 !important;
	font-weight: bold;
	vertical-align: middle;
}

